.experience {
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    box-shadow: var(--boxShadowContainer);
    margin-bottom: 0.5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr) 1.5rem;
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
}

/* title */
.experience input:nth-child(1) {
    grid-row: 1;
    grid-column: 1/5;
}

/* company */
.experience input:nth-child(2) {
    grid-row: 2;
    grid-column: 1/5;
}

/* FROM label */
.experience p.dateLabel:nth-of-type(1) {
    grid-row: 3;
    grid-column: 1;
}

/* date of entry */
.experience input:nth-of-type(3) {
    grid-row: 3;
    grid-column: 2/4;
}

/* TO label */
.experience p.dateLabel:nth-of-type(2) {
    grid-row: 4;
    grid-column: 1;
}

/* date of exit */
.experience input:nth-of-type(4) {
    grid-row: 4;
    grid-column: 2/4;
}

/* current */
.experience input:nth-of-type(5) {
    grid-row: 4;
    grid-column: 4;
}

/* remove */
.experience>div:last-child {
    grid-row: 1;
    grid-column: 5;
    align-self: center;
    justify-self: center;
}

.compact.title {
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: underline;
}

.compact.company {
    text-transform: uppercase;
    font-style: italic;
    font-size: 1.1rem;
}

input#position,
input#company {
    height: 2rem;
    margin: 0.2rem auto;
}

input#position:focus {
    text-decoration: none;
}

input#company:focus {
    text-decoration: none;
}

input[type="button"] {
    margin: 0 0.5rem;
    border: 1px solid var(--secondary);
    min-width: 4rem;
}

input[type="button"]:not(.lock):hover {
    color: var(--primary);
    background-color: var(--accent);
    border: 1px solid var(--primary);
}

input[type="button"].lock {
    font-weight: 600;
    background-color: var(--secondary);
    color: var(--primary);
    border: 1px solid var(--accent);
}

input[type="button"].lock:hover {
    background-color: var(--primary);
    color: var(--accent);
}

@media screen and (max-width: 840px) {
    .compact.company,
    .compact.title {
        height: 2rem;
    }
}

@media screen and (max-width: 700px) {
    .dateLabel {
        display: inline;
    }
}

@media screen and (max-width: 350px) {
    .experience {
        grid-template-rows: repeat(5, 1fr);
    }

    /* date of entry */
    .experience input:nth-of-type(3) {
        grid-row: 3;
        grid-column: 2/5;
    }

    /* date of exit */
    .experience input:nth-of-type(4) {
        grid-row: 4;
        grid-column: 2/5;
    }

    /* current */
    .experience input:nth-of-type(5) {
        grid-row: 5;
        grid-column: 1/6;
        margin: auto;
    }

    .dateLabel {
        display: inline;
    }
}