.tile {
    border-radius: 1rem;
    padding: 0.3rem 0.5rem;
    box-shadow: var(--boxShadowContainer);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    max-width: 100%;
}

.tile input.compact {
    box-shadow: none !important;
}

.tile input {
    border: none !important;
}