svg {
    stroke: black;
    fill: black;
}

svg.add {
    fill: none;
}

svg.smallIcons, svg.smallIcons path {
    fill: white;
    stroke: white;
}

svg.smallIcons:hover, svg.bullet:hover {
    cursor: default;
}